/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,700i,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,800i&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(css/animate.min.css);
@import url(css/normalize.css);
@import url(css/icomoon.css);
@import url(css/font-awesome.min.css);
@import url(css/meanmenu.css);
@import url(css/owl.carousel.min.css);
@import url(css/swiper.min.css);
@import url(css/slick.css);
@import url(css/jquery.fancybox.min.css);
@import url(css/jquery-ui.css);
@import url(css/nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: 'Poppins', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px;
}

h2 {
     font-size: 18px;
}

h3 {
     font-size: 18px;
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 500;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     padding-top: 10px;
     
     height: auto;
}

 :focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}


/*-- header --*/

.header {
     width: 100%;
     background: url(../images/atas/bengkel4.jpg);
     background-repeat: no-repeat;
     background-size: 100%;
     padding-top: 70px;
}

.header_midil {
     padding-bottom: 100px;
     margin-left: 800px;
     justify-content: center;
     width: 500px;
}

/*--   navigation --*/

.header_bottom {
     background-color: #183661;
}

.navigation.navbar {
     float: left;
     padding: 0;
}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 30px 24px;
     color: #ffffff;
     font-size: 14px;
     line-height: 20px;
     font-weight: 400;
     text-transform: uppercase;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
     background-color: #f2c119;
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     background-color: #f2c119;
}

.navbar-expand-md .navbar-nav {
     padding-right: 10px;
}

.search {
     padding-top: 25px;
     text-align: right;
     margin-right: 45px;
}

.login{
     padding-top: 25px;
     border-radius: 3px;
}

.button-login{
     background-color: #f2c119;
     border-radius: 20px;
     width: 7em;
     margin-top: 2px;
     height: 32px;
}

.form_sea {
     border-radius: 20px;
     border: #fff solid 1px;
     padding: 0px 15px;
     color: #000;
     height: 32px;
     position: relative;
     width: 100%;
}

.seach_icon {
     position: absolute;
     margin-left: -25px;
     z-index: 999;
     background: transparent;
     padding: 3px 0px 0px 0px;
     color: #b7b7b7;
}

/* Title Box */

.title-box{
	text-align: center;
	margin-bottom: 30px;
}
.title-box h2{
	font-size: 42px;
	color: #000000;
	font-weight: 500;
	position: relative;
	padding-bottom: 30px;
	margin-bottom: 15px;
     padding-top: 15px;
}

.title-box h2::after{
	content: "";
	position: absolute;
	background: url(../images/atas/logoline.png)no-repeat center;
	width: 120px;
	height: 30px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.title-box h2 span{
	color: #0a98eb;
	text-decoration: underline;
}


/*-- Profil --*/

.titlepage h3 {
     font-size: 35px;
     color: #141414;
     line-height: 40px;
     font-weight: bold;
     padding-left: 0px;
}

.profiltitle{
     padding-right: 100px;
     margin-right: 10px;
     padding-left: 100px;
}

.profiltitle h2{
     font-size: x-large;
     font-weight: 600;
}

.profil {
     background-color: #fff;
     padding-top: 30px;
     padding-right: 70px;
}

.profil .titlepage h3 {
     margin-bottom: 15px;
     padding-bottom: 10px;
     border-bottom: #f2c119 solid 4px;
}

.profil p {
     text-align: justify;
}

/*-- Sidebar --*/

.sidebar{
     background-color: #f2c119;
     border-radius: 5px;
     padding-bottom: 20px;
     width: 300px;
     margin-right: 100px;
}

.sidebartext{
     margin-left: 20px;
     padding-top: 20px;
     font-size: 20px;
}

hr{
     margin-left: 15px;
     margin-top: 10px;
}


/*-- Article --*/

.article-box{
	padding: 20px 0px;
	background-color: #f2f3f5;
}

.showcase .showcase-text {
     padding: 3rem;
   }
   .showcase .showcase-img {
     min-height: 10rem;
     background-size: cover;
   }
   @media (min-width: 768px) {
     .showcase .showcase-text {
       padding: 7rem;
     }
   }

.showcase h2 {
     font-size: x-large;
     font-weight: 600;
}

/*-- blog --*/

.blog-box{
	padding: 70px 0px;
	background-color: #ffffff;
}
.blog-inner{
	background: #ffffff;
	text-align: center;
	margin-bottom: 30px;
	border: 10px solid #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.blog-img{
	overflow: hidden;
}
.blog-img img{
	transition: all 0.9s ease 0s;
}
.blog-inner:hover .blog-img img{
	-moz-transform: scale(1.5) rotate(-10deg);
	-webkit-transform: scale(1.5) rotate(-10deg);
	-ms-transform: scale(1.5) rotate(-10deg);
	-o-transform: scale(1.5) rotate(-10deg);
	transform: scale(1.5) rotate(-10deg);
}
.blog-inner a{
	border-radius: 2px;
	transition: .2s;
	letter-spacing: 1px;
	padding: 10px 18px;
	background: #ffffff;
	color: #12557f;
	font-size: 14px;
	display: inline-block;
	line-height: 24px;
}

.blog-inner a:hover{
	color: #ffffff;
}

.blog-inner .item-meta{
	background: #12557f;
}
.blog-inner .item-meta a{
	background: #12557f;
	color: #ffffff;
	display: inline-block;
	border: none;
}
.blog-inner .item-meta span{
	color: #ffffff;
	background: #0a98eb;
	display: inline-block;
	padding: 5px;
}

.blog-inner h2{
	margin-top: 20px;
}

/*-- Testimoni --*/

.testimoni-box{
	padding: 20px 0px;
	background-color: #f2f3f5;
}

.testimonials h2{
     font-size: x-large;
     font-weight: 500;
}
.testimonials {
     padding-top: 2rem;
     padding-bottom: 7rem;
   }
   .testimonials .testimonial-item {
     max-width: 18rem;
   }
   .testimonials .testimonial-item img {
     max-width: 12rem;
     box-shadow: 0px 5px 5px 0px #adb5bd;
   }

/** footer **/

.footer-box{
	background: #183661;
	padding: 20px 0;
}

.footer-box .footer-company-name{
	text-align: center;
	margin: 0px;
	color: #ffffff;
}

.footer-box .footer-company-name a{
	color: #f2c119;
}
.footer-box .footer-company-name a:hover{
	color: #000000;
}

.footer-top{
	padding: 70px 0px;
	background: url(../images/atas/bengkel3.jpg) no-repeat center;
	background-size: cover;
	position: relative;
	color: white;
}

.footer-top::before{
	content: "";
	background: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
}

#footer .footer-top .footer-contact {
	margin-bottom: 30px;
  }
  
#footer .footer-top .footer-contact h4 {
	font-size: 22px;
	margin: 0 0 30px 0;
	padding: 2px 0 2px 0;
	line-height: 1;
	font-weight: 700;
  }
  
#footer .footer-top .footer-contact h3 {
	color: #f2c119;
}
#footer .footer-top .footer-contact p {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 0;
	font-family: "Raleway", sans-serif;
	color: white;;
  }
  
#footer .footer-top h4 {
	font-size: 16px;
	font-weight: bold;
	color: #f2c119;
	position: relative;
	padding-bottom: 12px;
  }
  
#footer .footer-top .footer-links {
	margin-bottom: 30px;
  }
  
#footer .footer-top .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
#footer .footer-top .footer-links ul i {
	padding-right: 2px;
	color: white;
	font-size: 18px;
	line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
	padding: 10px 0;
	display: flex;
	align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
	padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
	color: white;
	transition: 0.3s;
	display: inline-block;
	line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
	text-decoration: none;
	color: #f2c119;
  }
  
  #footer .footer-newsletter {
	font-size: 15px;
  }
  
  #footer .footer-newsletter h4 {
	font-size: 16px;
	font-weight: bold;
	color: #f2c119;
	position: relative;
	padding-bottom: 12px;
  }
  
  #footer .footer-newsletter form {
	margin-top: 30px;
	background: #fff;
	padding: 6px 10px;
	position: relative;
	border-radius: 50px;
	text-align: left;
	border: 1px solid #bfdcf7;
  }
  
  #footer .footer-newsletter form input[type=email] {
	border: 0;
	padding: 4px 8px;
	width: calc(100% - 100px);
  }
  
  #footer .footer-newsletter form input[type=submit] {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	border: 0;
	background: none;
	font-size: 16px;
	padding: 0 20px;
	background: #f2c119;;
	color: #fff;
	transition: 0.3s;
	border-radius: 50px;
  }
  
  #footer .footer-newsletter form input[type=submit]:hover {
	background: #f2c119;
  }

/** end footer **/


/** inner page css **/

.footer_to90 .footer {
     padding-top: 90px;
}

.blue_bg {
     background-color: #f3a20d;
     padding: 35px 0;
}

.blue_bg .titlepage {
     text-align: center;
}


/** product page **/

.product_page .blue_bg .titlepage h2 {
     color: #fff;
     font-size: x-large;
}

.productpage {
     margin-top: 10px;
     padding-top: 20px;  
     margin-left: 140px;
     margin-right: 20px;
}

/** booking page **/

.booking_page .blue_bg .titlepage h2 {
     color: #fff;
     font-size: x-large;
}

.booking{
     margin-left: 130px;
     margin-right: 100px;
     margin-top: 50px;
     margin-bottom: 50px;     
}


/** Berita page **/

.berita_page .blue_bg .titlepage h2 {
     color: #fff;
     font-size: x-large;
}

.fashion_page .fashion {
     margin: 90px 0;
}

/** contact page **/

.contact_page .blue_bg .titlepage h2 {
     color: #fff;
     font-size: x-large;
}

.contact_page .contact {
     margin-bottom: 90px;
}

.contact {
     margin-top: 90px;
     background: #fff;
}

.contact .titlepage {
     text-align: left;
     padding-bottom: 60px;
}

.contact .titlepage h2 {
     color: #fefeff;
}

.main_form .contactus {
     border: #183661 solid 1px;
     padding: 0 15px;
     margin-bottom: 20px;
     width: 100%;
     height: 46px;
     background: transparent;
     color: #183661;
     font-size: 17px;
     font-weight: normal;
     padding: 0 15px;
     box-shadow: 0 0 5px rgba(243, 195, 30, 0.5);
}

.main_form .contactusmess {
     border: #183661 solid 1px;
     padding: 0 15px;
     margin-bottom: 0;
     width: 100%;
     padding-top: 52px;
     padding-bottom: 52px;
      background: transparent;
     color: #183661;
     font-size: 17px;
     font-weight: normal;
     box-shadow: 0 0 5px rgba(243, 195, 30, 0.5);
}

.send_btn {
     background: #183661;
     font-weight: 500;
     font-size: 18px;
     width: 185px;
     color: #fff;
     height: 56px;
     margin-top: 50px;
     transition: ease-in all 0.5s;
     border-radius: 40px;
}

.send_btn:hover {
     background: #f2c119;
     transition: ease-in all 0.5s;
}

#request *::placeholder {
     color: #183661;
     opacity: 1;
}

/* Service Besar, Service ringan, Body Repair Page */

.profil{
     margin-left: 20px;
     padding-right: 10px;
 }
 .profil li{
     list-style: circle;
     margin-left: 50px;
 }
 .profil img{
     width: 500px;
     margin-top: 20px;
     padding-top: 1px;
 }
